.navbar {
  background-color: black;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .logo-container {
    width: 16vh;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
}
